---
import Layout from '../layouts/Layout.astro';
import ContactsCard from '../components/ContactsCard.astro';
---

<Layout
	title="Simone Ferretti"
	description="Get in touch with a Full-Stack Web Developer experienced in React, Angular, Node.js, Go, Rust, JavaScript, TypeScript, SQL, and CLI tools. Let's collaborate."
>
	<main>
		<p id="cta">
			<span>Let's make <span class="underline">great things</span></span>
		</p>
		<p><span class="text-gradient">Together</span></p>
		<ContactsCard />
	</main>
</Layout>

<style>
	main {
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgb(var(--accent));
		line-height: 1.6;
	}
	#cta {
		font-size: 2rem;
		font-weight: 300;
		line-height: 0;
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
	}
	#cta + p {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-top: 0.67em;
		margin-bottom: 1em;
	}

	span.underline {
		font-weight: 500;
	}

	@media screen and (max-width: 768px) {
		#cta {
			font-size: 1.5rem;
		}

		#cta + p {
			font-size: 3rem;
		}
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(35ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
