---
import Layout from '../layouts/Layout.astro';
import ContactsCard from '../components/ContactsCard.astro';
---

<Layout
	title="Simone Ferretti"
	description="Get in touch with a Full-Stack Developer. TypeScript, Next.js, NestJS, PostgreSQL, GCP. Available for freelance work."
>
	<main>
		<p id="cta">
			<span>Let's make <span class="underline">great things</span></span>
		</p>
		<p><span class="text-gradient">Together</span></p>
		<section>
			<ContactsCard />
		</section>
	</main>
</Layout>

<style>
	main {
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: var(--color-accent);
		line-height: 1.6;
		display: flex;
		flex-direction: column;
	}

	#cta {
		font-size: 2rem;
		font-weight: 300;
		text-align: center;
		margin-bottom: 0;
	}

	#cta + p {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-top: 0;
		margin-bottom: 1em;
	}

	span.underline {
		font-weight: 500;
	}

	@media screen and (max-width: 768px) {
		section {
			display: grid;
		}

		#cta {
			font-size: 1.5rem;
		}

		#cta + p {
			font-size: 3rem;
		}
	}
</style>
