---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import CtaButton from '../components/CtaButton.astro';

const know = ['Javascript', 'React', 'Node', 'SQL'];
const learning = ['Typescript', 'Rust'];
const like = ['Linux', 'Docker', 'Neovim', 'Lists'];
---

<Layout
	title="Simone Ferretti"
	description="Full-Stack Web Developer passionate about React, JavaScript, Node.js, Rust, Go, TypeScript, and SQL. Crafting web applications and CLI tools."
>
	<main>
		<header>
			<PageTitle title="Simone Ferretti" />
			<p id="cta"><span>web developer</span></p>
		</header>
		<div id="about">
			<section id="presentation">
				<span>I don't like introductions.</span>
				<span>Let what I do speak for myself.</span>
			</section>
			<section>
				<h2>What I know</h2>
				<ul>
					{know.map((e) => <li>{e}</li>)}
				</ul>
			</section>
			<section>
				<h2>What I am learning</h2>
				<ul>
					{learning.map((e) => <li>{e}</li>)}
				</ul>
			</section>
			<section>
				<h2>More things I like</h2>
				<ul>
					{like.map((e) => <li>{e}</li>)}
				</ul>
			</section>
		</div>
		<CtaButton label="Projects" destination="/projects/" />
	</main>
</Layout>

<style>
	main {
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 16px;
		color: rgb(var(--accent));
		line-height: 1.6;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	header {
		position: relative;
		width: fit-content;
		height: fit-content;
		letter-spacing: 0.125em;
	}

	#cta {
		font-size: 1.5rem;
		text-transform: uppercase;
		letter-spacing: 0.125em;
		line-height: 0;
		margin-top: -2.325em;
		position: absolute;
		right: 0;
	}

	@media screen and (max-width: 768px) {
		#cta {
			font-size: 1.125rem;
		}

		#cta + p {
			font-size: 3rem;
		}
	}

	section {
		display: flex;
		flex-direction: column;
		padding: 1rem;
	}

	#presentation {
		grid-area: pres;
		align-self: center;
		flex-direction: row;
		column-gap: 0.325em;
		flex-flow: wrap;
		justify-content: center;
	}

	#presentation > span {
		text-wrap: nowrap;
	}

	section:nth-of-type(2) {
		grid-area: sec2;
	}

	section:nth-of-type(3) {
		grid-area: sec3;
	}

	section:nth-of-type(4) {
		grid-area: sec4;
	}

	section h2 {
		font-size: 0.875rem;
		text-transform: uppercase;
		letter-spacing: 0.125em;
		margin: 0;
		padding: 0;
		color: rgb(var(--accent-light), 0.7);
	}

	section ul {
		list-style: none;
		margin: 0;
		padding: 0;
		margin-left: 0.5rem;
		padding-left: 0.5rem;
		border-left: 1px solid rgb(var(--accent-light), 0.7);
	}

	#about {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr 2fr;
		grid-template-areas: 'pres pres pres' 'sec2 sec3 sec4';
		justify-items: center;
		border-radius: 7px;
		width: 100%;
		margin-top: -1em;
	}

	@media screen and (max-width: 768px) {
		#about {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr repeat(3, auto);
			grid-template-areas: 'pres' 'sec2' 'sec3' 'sec4';
			justify-items: center;
			row-gap: 1em;
			margin-bottom: 2rem;
		}

		#presentation {
			justify-self: center;
		}

		section:nth-of-type(n + 2) {
			padding-top: 0;
			border-bottom: 1px solid rgb(255, 255, 255, 0.2);
		}

		section > h2 {
			font-size: 1rem;
		}

		section {
			align-items: center;
		}

		section ul {
			display: flex;
			align-items: center;
			column-gap: 1em;
			height: 2em;
			border-left: none;
			margin: 0;
			padding: 0;
		}
	}
</style>
