---
const { label, destination } = Astro.props;
---

<div class="button button-gradient">
	<a href={destination} role="button">{label}</a>
</div>

<style>
	.button {
		display: flex;
		justify-content: center;
		align-items: center;

		border: 1px solid color-mix(in srgb, var(--color-accent-light) 20%, transparent);
		border-radius: var(--radius-card);

		margin: 2.5rem auto;

		background-color: color-mix(in srgb, var(--color-accent-light) 10%, transparent);
		background-position: 50%;
		background-size: 110%;

		height: fit-content;
		width: fit-content;

		transform: scale(1);

		transition:
			transform 0.6s var(--ease-out-expo),
			border 0.6s var(--ease-out-expo),
			background-size 0.6s var(--ease-out-expo);
	}

	.button-gradient {
		background-image: radial-gradient(
			ellipse farthest-corner at 50% -90%,
			color-mix(in srgb, var(--color-accent-light) 20%, transparent) -20%,
			transparent 80%
		);
	}

	@media screen and (min-width: 768px) {
		.button:hover {
			transform: scale(1.05);
			background-size: 120%;
			cursor: pointer;

			border: 1px solid color-mix(in srgb, var(--color-accent-light) 40%, transparent);
		}
	}

	.button a {
		display: flex;
		justify-content: center;
		align-items: center;

		color: var(--color-accent-light);
		text-decoration: none;
		font-size: 1rem;

		padding: 0.75em 2em;
		transition: color 0.6s var(--ease-out-expo);
	}
</style>
