---
const year = new Date().getFullYear();
---

<footer>
	<span>Simone Ferretti &copy; {year}</span>
</footer>
<style>
	footer {
		height: 2rem;
	}
	footer span {
		font-size: 0.875rem;
		color: rgb(var(--accent));
	}
</style>
