---
import PageSelector from './PageSelector';

const currentPath = Astro.url.pathname;

const links = [
	{ path: '/', label: 'Home' },
	{ path: '/blog/', label: 'Blog' },
	{ path: '/projects/', label: 'Projects' },
	{ path: '/contacts/', label: 'Contacts' },
];
---

<nav>
	<div class="list-container">
		<PageSelector
			client:load
			currentPath={currentPath}
			links={links}
			transition:persist="page-selector"
		/>
		<span id="nav-name">Simone Ferretti</span>
	</div>
</nav>
<style>
	nav {
		color: var(--color-accent);
		padding: 0 1rem;
	}

	@media screen and (max-width: 480px) {
		nav {
			padding: 0;
		}

		nav .list-container {
			justify-content: center;
		}

		#nav-name {
			display: none;
		}
	}

	.list-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: var(--width-nav);
		margin: 0 auto;
	}

	#nav-name {
		white-space: nowrap;
	}
</style>
