---
const currentPath = Astro.url.pathname;

const links = [
	{ path: '/', label: 'Home' },
	{ path: '/projects/', label: 'Projects' },
	{ path: '/contacts/', label: 'Contacts' },
];
---

<nav>
	<div class="list-container">
		<ul>
			{
				links.map((link) => (
					<li class={`pill ${link.path === currentPath ? 'selected' : ''}`}>
						<a
							href={link.path === currentPath ? '#' : link.path}
							aria-disabled={link.path === currentPath ? 'true' : 'false'}
						>
							<div>{link.label}</div>
						</a>
					</li>
				))
			}
		</ul>
		<span id="nav-name">Simone Ferretti</span>
	</div>
</nav>
<style>
	nav {
		color: rgba(var(--accent), 1);
		padding: 0 1rem;
	}

	@media screen and (max-width: 380px) {
		nav {
			padding: 0;
		}

		nav .list-container {
			justify-content: center;
		}

		#nav-name {
			display: none;
		}

		ul {
			align-self: center;
		}
	}

	.list-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1000px;
		margin: 0 auto;
	}

	ul {
		display: flex;
		list-style: none;
		margin: 0.5rem 0;
		padding: 0;
	}

	.pill {
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		margin: 0;
		padding: 0.125em 0;
		background-color: transparent;
		height: 1.75em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.pill:first-of-type {
		border-radius: 2em;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-left: 1px solid rgba(255, 255, 255, 0.2);
	}

	.pill:last-of-type {
		border-radius: 2em;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-right: 1px solid rgba(255, 255, 255, 0.2);
	}

	.pill:first-of-type a {
		padding-right: 0.5em;
	}

	.pill:last-of-type a {
		padding-left: 0.5em;
	}

	.pill div {
		position: relative;
	}

	.pill.selected a {
		color: var(--accent);
		pointer-events: none;
	}

	.pill.selected div::after {
		content: '';
		background-color: rgba(var(--accent-light), 0.1);
		position: absolute;
		left: -0.5em;
		right: -0.5em;
		top: -0.325em;
		bottom: -0.325em;
		box-shadow: inset 0 1px 2px rgba(var(--accent-light), 0.2);
		border-radius: 2rem;
	}

	.pill a {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: grey;
		font-size: 0.875rem;
		padding: 0.75em;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	@media screen and (max-width: 768px) {
		.pill a {
			height: 44px;
		}
	}
</style>
