---

---

<nav>
	<main>
		<span>Simone Ferretti</span>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/projects">Projects</a></li>
		</ul>
	</main>
</nav>
<style>
	nav {
		color: white;
		padding: 0 1rem;
	}
	main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: auto;
		width: 1000px;
		max-width: calc(100% - 2rem);
		color: white;
	}
	ul {
		display: flex;
		list-style: none;
		margin: 0.75rem 0;
		padding: 0;
	}
	li {
		padding: 0.25rem 0.5rem;
		background-color: grey;
		margin: 0 0.5rem;
	}
	a {
		text-decoration: none;
	}
</style>
