---
const { title } = Astro.props;
---

<h1 class="font-bold leading-none text-center mb-[1em] whitespace-nowrap text-[4rem] max-[768px]:text-[3rem] max-[400px]:text-[2.25rem]"><span class="text-gradient">{title}</span></h1>
