---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<Navbar />
		</header>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 136, 136;
		--accent-light: 230, 250, 250;
		--accent-light-dimmed: 210, 230, 230;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--background-color: #131313;
	}
	html {
		font-family: system-ui, sans-serif;
		letter-spacing: 0.025rem;
		background: var(--background-color);
	}
	body {
		margin: 0;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto auto 1fr;
		min-height: 100vh;
		justify-content: center;
		align-content: start;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	Footer {
		justify-self: center;
		align-self: self-end;
	}
</style>
